langchain
langchain-openai
langchain-google-genai
langchain-community
langchain-core
langchain-text-splitters
langchain-chroma
langchain-huggingface
langchain-cohere
langchain-experimental
streamlit
chromadb
openai
python-dotenv
huggingface_hub
tiktoken
cohere
pypdf
langgraph
